---
layout: logged-in.njk
---

<link rel="stylesheet" href="/assets/css/topic-style.css" />

<main id="article-main" class="site-main">
  {{ content | safe }}
</main>

<script type="module" src="/assets/js/topic.js"></script>